@import "variables";

$font-size: $font-size-12;

body {
    padding-bottom: 20px;
    color: $clr-body;
    font-size: $font-size;
    font-family: $font-family-sans-serif;
    background-color: $bg-clr-outer-body;
}

/* Customize container */
@media (min-width: 988px) {
    .container {
        max-width: 950px;
    }
}

@media (min-width: 768px) {
    .nav-ringio {
        max-height: 52px;
    }
}

/********************************   Rows   ********************************/

body > .container {
    background-color: $bg-clr-inner-body;
    border-left: 1px solid $border-clr-body;
    border-right: 1px solid $border-clr-body;
    border-bottom: 1px solid $border-clr-body;
    padding-bottom: $margin;
    &.white-bg {
        background-color: white;
        padding-top: $margin;
    }
}

.row{
    margin-bottom: $margin;
    &:last-child{
        margin-bottom: 0;
    }
}

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-border {
    border: none !important;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.text-right{
    text-align: right;
}

.white-bg {
    background-color: white !important;
}

.vcentered {
    &:before {
        content: ' ';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.5em;
    }
    > * {
        display: inline-block;
        vertical-align: middle;
        float: none !important;
    }
}

.border-left {
    border-left: 1px solid;
}

.stay-visible {
    opacity: 1 !important;
}

.separator {
    background-image: url("../images/separator.png");
    // width: 20px;
    height: $height-inner-row;
}

.no-padding {
    padding: 0 !important;
}

/********************************   Icons   *******************************/

.ringio-header .glyphicon {
    width: $height-page-header;
    height: $height-page-header;
    line-height: $height-page-header;
}

.glyphicon-user.large:before {
    content: url(../images/users.png);
}

.glyphicon-department.large:before {
    content: url(../images/departments.png);
}

.glyphicon-phone-numbers.large:before {
    content: url(../images/phone-numbers.png);
}

.glyphicon-crm.large:before {
    content: url(../images/crm.png);
}

.glyphicon-highrise.large:before {
    content: url(../images/company_logos/highrise.png);
}

.glyphicon-caret.large:before {
    content: url(../images/caret-large.png);
}

.glyphicon-billing.large:before {
    content: url(../images/billing.png);
}

.glyphicon-billing-history.large:before {
    content: url(../images/billing-history.png);
}

.ringio-icon {
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 &.tip {
    background-image: url("../images/tip.png");
    position: absolute;
    top: 10px;
    left: -9px;
    height: 19px;
    width: 10px;
}
&.icon-sound{
   background-image: url("../images/audio-dark.png");
}
&.bulb {
    display: inline-block;
    width: 10px;
    height: 16px;
    background-image: url("../images/bulb.png");
}
&.icon-delete {
    display: inline-block;
    margin-left: -$margin / 2;
    width: $margin;
    height: $margin;
    background-size: 40%;
    background-image: url("../images/delete.png");
}
&.icon-refresh {
    display: inline-block;
    width: $margin;
    height: $margin;
    background-size: 50%;
    background-image: url("../images/refresh.png");
}
&.icon-user {
    background-image: url("../images/user-small.png");
    width: 12px;
    height: 16px;
    display: inline-block;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-right: 5px;
}

}

/****************************   Dropdowns   ******************************/

.dropdown {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    .btn-dropdown {
        width: 100%;
        text-align: left;
        border-radius: 3px;
        margin-bottom: 0;
        font-size: 10px;
        background-color: white;
        @include box-shadow-bottom;
        .left-icon{
            margin-right: $margin/6;
        }

        .icon-toggle, .icon-down {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../images/arrows.png");
            width: 5px;
            height: 11px;
            display: inline-block;
            float: right;
        }
    }
    .icon-user {
        background-image: url("../images/user-small.png");
        width: 12px;
        height: 16px;
        display: inline-block;
        margin-top: -3px;
        margin-bottom: -3px;
        margin-right: 5px;
    }
    &.disabled {
        .icon-toggle {
            background-image: url("../images/arrows-disabled.png");
        }
    }
    .dropdown-menu {
        width: 100%;
    }
}

/*****************************   Buttons   *******************************/

.btn{
    font-size: $font-size;
    @include pm_center('padding',$height-button,$font-size*$line-height-base);
    padding-left: $margin/2;
    padding-right: $margin/2;
    &:hover{
        color: darken($clr-button, 25%);
    }
}

// .btn-edit, .btn-close {
//     position: absolute;
//     top: $margin / 2;
//     right: $margin / 2;
//     display: block;
//     width: $margin;
//     height: $margin;
//     border-radius: $margin;
//     background-color: $bg-clr-btn-edit;
//     background-repeat: no-repeat;
//     background-position: center;
//     opacity: 0.50;
//     &:hover {
//         cursor: pointer;
//         opacity: 1;
//     }
// }

.btn-upload-sound-file{
    width: 100%;
    text-align: center;
}

.btn-edit {
    background-image: url("../images/edit.png");
}

.btn-close {
    background-image: url("../images/close.png");
}

.btn-cancel {
    $clr-button: white;
    color: $clr-button;
    background-color: #035C8D;
    padding-left: $margin/3;
    padding-right: $margin/3;
}

.btn-upload {
    border: 1px solid $border-clr-table-btn-upload;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.75);
    background: linear-gradient(0deg, #246098 0%, #307fc1 100%);
}

.btn-save {
   $clr-button: rgb(33, 107, 158);
   color: $clr-button;
   background: linear-gradient(0deg, #daeafa 0%, #ffffff 100%);
   background-repeat: repeat-x;
   border-color: rgb(35, 84, 127);
   padding-left: $margin/2;
   padding-right: $margin/2;
}

.btn-medium-blue {
    vertical-align: middle;
    font-size: $font-size;
    color: white;
    background-color: $font-clr-emphasized;
    border: 1px solid $border-clr-btn-dark;
}

.btn-logout {
    $clr-button: $clr-navbar-default;
    border-radius: 3px;
    background: linear-gradient(to bottom, #0081c4 0%, #005e97 95%, #0073b2 100%);
    @include pm_center('margin',$height-navbar-top-row, $height-button);
    border: 1px solid #004a7a;
    color: $clr-navbar-default;
    text-shadow: $text-shadow-navbar;
    padding-left: $margin/2;
    padding-right: $margin/2;
    box-shadow: 0 0 0 2px $box-shadow-clr-button-logout;
}

.disabled {
    &button:hover {
        cursor: default;
    }
}

input[disabled="disabled"] {
    color: gray;
}

/*****************************   Page Header   *******************************/

.page-header {
    padding-top: $margin;
    padding-bottom: 0;
    margin: 0;
    background-color: $bg-clr-page-header;
    border-bottom: 1px solid rgb(215, 230, 238);
    color: $clr-page-header;
    .media-list {
        margin: $margin;
        margin-top: 0;
    }
    .media-body {
        vertical-align: middle;
    }
    .glyphicon.large {
        height: 100%;
        width: auto;
        vertical-align: middle;
    }
    h1 {
        font-size: $font-size-xlarge;
        font-weight: 700;
    }
    h2 {
        font-size: $font-size-large;
        font-weight: 400;
    }
}

/*****************************   Thumbnails   *******************************/

.thumbnail {
    position: relative;
    border: 1px solid $border-clr-table;
    border-bottom: 3px solid $box-shadow-clr-table-option;
    padding: $margin;
    font-size: $font-size-12;
    .logo {
        width: 100%;
        height: 170px;
        vertical-align: middle;
        text-align: center;
        img.contained {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: auto;
        }
    }
    .caption {
        margin-top: $margin;
        padding: 0;
        padding-top: $margin;
        border-top: 1px solid $border-clr-table;
        p:not(:last-child) {
            margin-bottom: 0;
        }
    }
    .btn-configure {
        margin-top: $margin;
        width: 100%;
        text-align: center;
        font-size: $font-size-xlarge;
        color: $border-clr-table-btn-upload;
        border: 1px solid $border-clr-table;
        box-shadow: 0 0 3px $box-shadow-clr-table-option;
        background: linear-gradient(0deg, #DBEBFB 0%, #FFFFFF 100%);
    }
}

/*****************************   Data Label Types   *******************************/

[data-label="personal-ringio-number"] {
    margin: 0 100px;
    border-bottom: 1px solid rgb(215, 230, 238);
    padding: 15px 0;
    text-align: center;
    color: rgb(0, 96, 157);
    label {
        color: rgb(0, 96, 157);
    }
    [data-type="phone-number"] {
        font-size: 20px;
    }
}

/******************************   Miscellaneous   ********************************/

.authorization-container.center {
    width: 100%;
    text-align: center;
    height: 70px;
    img {
        height: 100%;
        width: auto;
    }
}

.button-container {
    width: auto;
    display: inline-block;
    padding: $margin / 2;
    border-radius: 5px;
    border: 1px solid $border-clr-table;
    .btn {
        @include button-gradient("light");
        text-align: center;
        margin-left: 0;
        margin-right: $margin / 2;
        &:last-child {
            margin-right: 0;
            padding-left: $margin / 2;
            border-left: 1px solid $border-clr-table;
        }
    }
}

.revoke-access.option {
    $panel-height: 46px;
    margin-bottom: $margin;
    padding: 13px;
    .logo {
        height: $panel-height;
        img {
            width: auto;
            height: 100%;
        }
    }
    .btn-revoke-access {
        width: 100%;
        text-align: center;
    }
}

// .data-container [class|="col"]{
//     padding-left: $margin/4;
//     padding-right: $margin/4;
//     label{
//         float: right !important;
//     }
//     &:first-child{
//         padding-left: 0;
//     }
//     &:last-child{
//         padding-right: 0;
//     }
// }