@import "variables";

/*-----------------------------    NAV BAR    -----------------------------*/

.navbar-ringio {
    color: $clr-navbar-default;
    text-shadow: $text-shadow-navbar;
    min-height: $height-navbar-bottom-row;
    &.navbar-top-row {
        $font-size: $font-size-navbar-top-row;
        font-size: $font-size;
        height: $height-navbar-top-row;
        background-color: $bg-clr-navbar-top;
        margin-bottom: 0;
        box-shadow: inset 0px 2px 0px 0px $border-clr-navbar-top-row;
        .navbar-right {
            &:last-child {
                // margin-right: 0;
                /*Correction from bootstrap.css*/
            }
        }
        // logo container ----------------------------------------------------------
        .navbar-header {
            $inner-height: 40px;
            line-height: $inner-height;
            @include pm_center("margin", $height-navbar-top-row, $inner-height);
            border-right: 1px solid $border-clr-navbar-separator;
            .navbar-brand {
                &:hover {
                    text-decoration: none;
                    color: none;
                }
                padding: 0;
                margin-right: $margin / 2;
                height: $inner-height;
                width: 120px;
                background-image: url("../images/ringio-logo.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .navbar-text {
            font-size: $font-size;
            line-height: $line-height-base;
            @include pm_center("margin", $height-navbar-top-row, $font-size * $line-height-base);
            vertical-align: middle;
            &[data-description="company-name"] {
                border-right: 1px solid $border-clr-navbar-separator;
                padding-right: $margin / 2;
                margin-right: 0;
            }
            .status {
                $height: 24px;
                display: inline-block;
                background-image: url("../images/status.png");
                background-position: 0 -1px;
                width: $height;
                height: $height;
                @include pm_center("margin", $font-size * $line-height-base, $height);
                margin-right: 3px;
                vertical-align: middle;
            }
        }
    }
    &.navbar-bottom-row {
        $font-size: $font-size-navbar-bottom-row;
        font-size: $font-size;
        margin-bottom: 0;
        border-top: 1px solid $border-clr-navbar-btm;
        border-bottom: 1px solid $border-clr-navbar-btm;
        background: linear-gradient(0deg, $gradient-clr-light-navbar-bottom 0%, $gradient-clr-dark-navbar-bottom 5%, $gradient-clr-dark-navbar-bottom 95%, $gradient-clr-light-navbar-bottom 100%);
        max-height: $height-navbar-bottom-row;
        .ringio-icon {
            position: absolute;
            left: 15px;
            top: 11px;
            width: 18px;
            height: 18px;
            &.icon-carets {
                background-image: url("../images/carets.png");
            }
            &.icon-dashboard {
                background-image: url("../images/dashboard/grid.png");
            }
            &.icon-sound {
                background-image: url("../images/dashboard/support.png");
            }
            &.icon-credit {
                background-image: url("../images/dashboard/creditcard.png");
            }
            &.icon-download {
                background-image: url("../images/dashboard/getringio.png");
            }
        }
        &.white-bg {
            .active > a,
            li a:hover,
            li a:focus {
                background-color: white !important;
            }
        }
        .nav-ringio {
            &.navbar-nav {
                margin-left: -$margin / 2;
                margin-right: -$margin / 2;
                li {
                    width: 175px;
                    &:last-child > a {
                        border-right: 1px solid $border-clr-navbar-btm;
                        margin-right: 1px;
                    }
                }
            }
        }
        li {
            a {
                line-height: $line-height-base;
                background: linear-gradient(0deg, $gradient-clr-light-navbar-bottom 0%, $gradient-clr-dark-navbar-bottom 5%, $gradient-clr-dark-navbar-bottom 95%, $gradient-clr-light-navbar-bottom 100%);
                color: $clr-navbar-default;
                text-shadow: $text-shadow-navbar;
                border-right: 1px solid $border-clr-navbar-btm;
                box-shadow: inset 0px 0px 2px 1px #2F82B9;
                @include pm_center("padding", $height-navbar-bottom-row-menu, $font-size * $line-height-base);
                margin-bottom: 0;
                text-align: center;
                font-weight: 700;
            }
            &.active > a, a:hover, :focus {
                background-color: $bg-clr-page-header;
                background-image: none;
                box-shadow: none;
                border-right: 1px solid $bg-clr-page-header;
                color: $clr-navbar-active;
                text-shadow: none;
                padding-bottom: padding-vertical($height-navbar-bottom-row-menu,$font-size * $line-height-base) + 1;
            }
            &:first-child > a {
                border-left: 1px solid $border-clr-navbar-btm;
                &:hover{
                    border-left: 1px solid $border-clr-body;
                }
            }
            &:last-child > a {
                border-right: 1px solid $border-clr-navbar-btm;
                &:hover{
                    border-right: 1px solid $border-clr-body;
                }
            }
        }
    }
}