@import "variables";

/*****************************   Panels   *******************************/

$font-size: $font-size-12;

.panel {
    font-size: $font-size;
    border: 1px solid rgb(215, 230, 238);
    padding: 0;
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid $border-clr-table;
    @include box-shadow-bottom;
    .panel-heading {
        $font-size: $font-size-panel-heading;
        font-size: $font-size;
        padding: padding-vertical($height-table-row, $font-size * $line-height-base) $margin / 2;
        position: relative;
        background-color: $bg-clr-table-dark;
        color: white;
        text-align: left;
        .ringio-icon {
            $height: 18px;
            @include pm_height($height-table-row, $height);
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            width: $height;
            height: $height;
            &.icon-close {
                background-image: url("../images/close-gray-large.png");
                background-size: 70%;
                padding: 10px;
                position: absolute;
                top: 10px;
                right: 15px;
            }
            &.icon-key {
                background-image: url("../images/key.png");
            }
            &.icon-crm {
                background-image: url("../images/dashboard/crmintegrations.png");
            }
            &.icon-get-the-most {
                background-image: url("../images/dashboard/asterisk.png");
            }
            &.icon-settings {
                background-image: url("../images/dashboard/settings-yellow.png");
            }
            &.icon-monthly-fees {
                background-image: url("../images/monthly-fees.png");
            }
            &.icon-billing-details {
                background-image: url("../images/billing-details.png");
            }
            &.btn.right-side {
                position: absolute;
                display: block;
                background-size: 70%;
                right: 0;
                top: 0;
                bottom: 0;
                margin: 0;
                width: 58px;
                height: auto;
                background-color: $bg-clr-navbar-top;
                border-radius: 0;
                border-top-right-radius: 3px;
                &.icon-departments {
                    background-image: url("../images/dashboard/departments.png");
                }
                &.icon-phone {
                    background-image: url("../images/dashboard/phone.png");
                }
                &.icon-users {
                    background-image: url("../images/dashboard/users.png");
                }
                &.btn-text {
                    font-size: $font-size;
                    @include pm_center("padding", $height-table-row, $font-size * $line-height-base);
                    width: auto;
                    &:active, &:hover, &:visited {
                        color: white;
                    }
                }
            }
        }
    }
    .panel-body {
        padding: 0;
        margin: 0;
        border-top: 3px solid $border-clr-table;
        box-shadow: 0px 3px 3px 0px $box-shadow-clr-table-option;
        .option {
            margin: $margin / 2;
            border-bottom: 1px solid rgb(215, 230, 238);
        }
        .thumbnail {
            margin: 0;
            margin-top: $margin / 2;
            padding: 0;
            &:last-child {
                margin-bottom: $margin / 2;
            }
            .logo {
                display: block;
                height: 100px;
                padding: $margin / 2;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        h1 {
            margin: 0;
            font-size: $font-size;
            font-weight: bold;
            color: $font-clr-emphasized;
            line-height: $line-height-base;
        }
        b {
            color: $font-clr-emphasized;
        }
        table {
            border: none;
            padding: 0;
            td {
                padding: 10px 5px;
                .table-text {
                    padding-right: 15px;
                    p {
                        margin: 0;
                    }
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        li {
            padding: $margin / 2;
            border: none;
            width: 100%;
            border-radius: 0;
            text-align: left;
            &:last-child {
                border-bottom: none;
            }
            .dropdown {
                width: auto;
                display: inline-block;
                float: right;
                vertical-align: middle;
                margin-top: -7px;
                .btn {
                    font-weight: bold;
                    border: 1px solid $border-clr-table;
                    @include box-shadow;
                }
                .icon-toggle {
                    margin-left: $margin / 2;
                }
            }
        }
        .ringio-icon {
            $height: 18px;
            width: $height;
            height: $height;
            margin-right: $height / 2;
            display: inline-block;
            vertical-align: middle;
            &.icon-call-recording {
                background-image: url("../images/dashboard/call-recording.png");
            }
            &.icon-screen-pop {
                background-image: url("../images/dashboard/screen-pop.png");
            }
            &.icon-call-whisper {
                background-image: url("../images/dashboard/call-whisper.png");
            }
            &.icon-email-notifications {
                background-image: url("../images/dashboard/email-notifications.png");
            }
            &.icon-back-up-number {
                background-image: url("../images/dashboard/back-up-number.png");
            }
            &.icon-status {
                $height: 10px;
                width: $height;
                height: $height;
                @include pm_center("margin", $font-size * $line-height-base, $height);
                float: right;
                &[color="green"] {
                    background-image: url("../images/dashboard/status-green.png");
                }
                &[color="red"] {
                    background-image: url("../images/dashboard/status-red.png");
                }
            }
        }
    }
    &.panel-side {
        padding: 0 10px;
        .panel-heading {
            background-color: white;
            color: $clr-body;
            text-align: center;
            border-bottom: 1px solid $border-clr-table;
        }
        .panel-body {
            box-shadow: none;
            border-top: none;
            table {
                border-bottom: 1px solid $border-clr-table;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    &#crm-integrations-status {
        $outer-panel-height: 70px;
        $panel-height: 45px;
        .logo, .status-authorization, .btn-revoke-access {
            display: inline-block;
            margin: $margin / 2;
            height: $panel-height;
            vertical-align: middle;
        }
        .logo {
            object-fit: contain;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .status-authorization {
            font-size: 12px;
            .authorized {
                $height: 16px;
                $font-size: $height;
                color: green;
                font-size: $font-size;
                vertical-align: middle;
                .icon-check-green {
                    $height: 14px;
                    margin-right: $margin / 6;
                    vertical-align: middle;
                    display: inline-block;
                    width: $height;
                    height: $height;
                    @include pm_center("margin", $font-size * $line-height-base, $height);
                    background-image: url("../images/check-green.png");
                }
            }
            .date {
                color: gray;
            }
        }
        .btn-revoke-access {
            font-size: 14px;
            float: right;
            @include button-gradient("light", "revoke");
            @include pm_center("margin", $outer-panel-height, $height-table-row);
        }
    }
    &#crm-integrations-edit {
        background-color: $bg-clr-outer-body;
        .option {
            margin: $margin/2;
            background-color: white;
            border-radius: 3px;
            border: 1px solid $border-clr-table;
            padding-top: $margin/2;
            padding-bottom: $margin/2;
            @include custom-margins("half");
        }
        input, .btn-dropdown {
            padding-left: $margin / 4;
            padding-right: $margin / 4;
            vertical-align: middle;
            font-size: $font-size;
            width: 100%;
            border-radius: 3px;
            border: 1px solid $border-clr-table;
            color: $font-clr-emphasized;
            @include pm_center("padding", $height-inner-row, $font-size * $line-height-base);
        }
        .ringio-icon.btn {
            $height: $height-inner-row;
            width: $height;
            height: $height;
            background-size: 50%;
            margin: 0;
            &.icon-delete {
                border-left: 1px solid $border-clr-table;
            }
        }

    }
    &[id|="billing"] {
        &#billing-front-and-center {
            background: linear-gradient(0deg, white 0%, $bg-clr-outer-body 5%, $bg-clr-outer-body 16%, white 100%);
            li {
                // $font-size: $font-size-12;
                font-size: $font-size;
                padding: $font-size;
                border-bottom: 1px solid $border-clr-table;
                &:last-child {
                    border-bottom: none;
                }
                .ringio-icon {
                    display: inline-block;
                    width: $font-size;
                    height: $font-size;
                    margin-right: $font-size;
                    vertical-align: middle;
                    @include pm_center("margin", $font-size * $line-height-base, $font-size);
                    &.icon-check {
                        background-image: url("../images/check-dark.png");
                    }
                    &.icon-caret {
                        background-image: url("../images/caret-small-dark.png");
                    }
                }
            }
        }
        .panel-body {
            ul {
                margin: 0;
                li {
                    margin: 0 5px;
                    padding: $font-size;
                    &:last-child {
                        border-top: 1px solid $border-clr-table;
                    }
                    &.total, &.last-row {
                        background-color: $bg-clr-outer-body;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        span {
                            display: inline-block;
                            float: right;
                            color: $font-clr-emphasized;
                        }
                    }
                    .col-md-6 {
                        padding-left: 0;
                        padding-right: 5px;
                        &:last-child {
                            padding-left: 5px;
                            padding-right: 0;
                        }
                        .btn {
                            padding-left: 0;
                            padding-right: 0;
                            width: 100%;
                            text-align: center;
                            @include button-gradient("dark", "default");
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    &[id|="dashboard"] {
        &#dashboard-users, &#dashboard-departments {
            .panel-body {
                li {
                    border-bottom: 1px solid $border-clr-table;
                    background-color: white;
                    &.btn:active {
                        box-shadow: none;
                    }
                    &.btn:hover {
                        background-color: $bg-clr-table-header;
                        box-shadow: 0 -3px 0 0 $box-shadow-clr-table-option inset;
                        // box-shadow: 0 3px 0 0 $border-clr-table;
                        cursor: pointer;
                    }
                }
            }
        }
        &#dashboard-settings {
            .phone-number {
                float: right;
                color: $font-clr-panel-btn;
            }
        }
        &#dashboard-support {
            .panel-heading {
                text-align: center;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
        &#dashboard-phone-numbers {
            $font-size: 12px;
            font-size: $font-size;
            label {
                margin: 0;
                display: inline-block;
                padding-left: $margin / 2;
                @include pm_center("padding", $height-table-row, $font-size * $line-height-base);
            }
            .panel-body {
                padding-top: 0;
                padding-bottom: 0;
                ul {
                    margin: 0;
                    .option {
                        border: 1px solid $border-clr-table;
                        padding: 0;
                        border-radius: 3px;
                        .phone-number {
                            display: inline-block;
                            float: right;
                            padding-right: $margin / 2;
                            color: $font-clr-panel-btn;
                            font-weight: 700;
                            @include pm_center("padding", $height-table-row, $font-size * $line-height-base);
                            .icon-settings {
                                display: inline-block;
                                vertical-align: middle;
                                $height: 16px;
                                width: $height;
                                height: $height;
                                margin-left: $height / 2;
                                background-image: url("../images/dashboard/settings.png");
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .btn {
                        text-align: center;
                        @include pm_center("padding", $height-table-row, $font-size * $line-height-base);
                    }
                    .option, .btn {
                        box-shadow: 0px 3px 5px 0px $border-clr-table;
                    }
                }
            }
        }
        &#dashboard-get-the-most {
            $margin: 20px;
            background-color: white;
            .data-container [class|="col"] {
                padding: 0 $margin / 2;
                &:first-child {
                    padding-left: $margin;
                }
                &:last-child {
                    padding-right: $margin;
                }
            }
            .panel-body {
                border-left: 1px solid $border-clr-table;
                border-bottom: 1px solid $border-clr-table;
                border-right: 1px solid $border-clr-table;
            }
            .thumbnail {
                border: none;
                box-shadow: none;
                height: 100px;
                .thumbnail-header {
                    $font-size: 14px;
                    font-size: $font-size;
                    color: $font-clr-panel-btn;
                    @include pm_center("padding", $height-table-row, $font-size * $line-height-base);
                    border-bottom: 1px solid $border-clr-table;
                    .icon-caret {
                        display: inline-block;
                        float: right;
                        $height: 13px;
                        height: $height;
                        width: $height;
                        @include pm_center("margin", $font-size * $line-height-base, $height);
                        background-image: url("../images/dashboard/caret-light.png");
                    }
                }
                p {
                    margin-top: $margin / 2;
                }
            }
        }
        &#dashboard-support {
            .btn-contact-support {
                margin: $margin / 2 0;
                border: 2px solid $border-clr-table;
            }
        }
        .btn-add-new-number, .btn-contact-support {
            width: 100%;
            background: $bg-clr-table-header;
            border: 1px solid $border-clor-panel-btn;
            @include box-shadow;
            padding: $font-size auto;
            font-weight: bold;
            color: $font-clr-panel-btn;
        }
    }
}