@import "variables";

/*****************************   Panels   *******************************/

.panel {
    border: 1px solid rgb(215, 230, 238);
    padding: 0;
    position: relative;
    $font-size: $font-size-12;
    padding: 0;
    border: 1px solid $border-clr-table;
    &#billing-front-and-center {
        background: linear-gradient(0deg, white 0%, $bg-clr-outer-body 5%, $bg-clr-outer-body 16%, white 100%);
        li {
            $font-size: $font-size-12;
            font-size: $font-size;
            padding: $font-size;
            border-bottom: 1px solid $border-clr-table;
            &:last-child {
                border-bottom: none;
            }
            .ringio-icon {
                display: inline-block;
                width: $font-size;
                height: $font-size;
                margin-right: $font-size;
                &.icon-check {
                    background-image: url("../images/check-dark.png");
                }
                &.icon-caret {
                    background-image: url("../images/caret-small-dark.png");
                }
            }
        }
    }
    &#crm-integrations-edit {
        $panel-height: 46px;
        margin-bottom: $margin;
   
        .option {
            vertical-align: middle;
            padding: $margin / 2 0;
            input, .btn-dropdown {
                margin: 0;
                width: 100%;
            }
        }
        .panel-heading {
            text-align: left;
            padding: 7px 7px;
            font-size: $font-size-medium;
            .icon-key {
                display: inline-block;
                background-image: url("../images/key.png");
                width: 18px;
                height: 18px;
                margin-top: -6px;
                margin-bottom: -6px;
                margin-right: 8px;
            }
        }

    }
    &#billing-monthly-fees, &#billing-billing-details {
        .panel-body {
            font-size: $font-size;
            h1 {
                margin: 0;
                font-size: $font-size;
                font-weight: bold;
                color: $font-clr-emphasized;
                line-height: $line-height-base;
            }
            b {
                color: $font-clr-emphasized;
            }
            ul {
                margin: 0;
                li {
                    margin: 0 5px;
                    padding: $font-size;
                    &:last-child {
                        border-top: 1px solid $border-clr-table;
                    }
                    &.total, &.last-row {
                        background-color: $bg-clr-outer-body;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        span {
                            display: inline-block;
                            float: right;
                            color: $font-clr-emphasized;
                        }
                    }
                    .col-md-6 {
                        padding-left: 0;
                        padding-right: 5px;
                        &:last-child {
                            padding-left: 5px;
                            padding-right: 0;
                        }
                        .btn {
                            padding-left: 0;
                            padding-right: 0;
                            width: 100%;
                            text-align: center;
                            @include button-gradient('dark');
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    &#dashboard-get-the-most {
        background-color: white;
        margin-top: 10px;
        .col-md-6 {
            padding-left: 20px;
            padding-right: 10px;
            &:last-child {
                padding-left: 10px;
                padding-right: 20px;
            }
        }
        .panel-body {
            background-color: $bg-clr-outer-body;
            padding-top: 10px;
            background-color: white;
            border: 1px solid $border-clr-table;
            padding: 0;
        }
        .panel-tile {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            height: 100px;
            .panel-tile-heading {
                $font-size: 14px;
                font-size: $font-size;
                color: $font-clr-panel-btn;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $border-clr-table;
                .icon-caret {
                    display: inline-block;
                    float: right;
                    height: 13px;
                    width: 13px;
                    background-image: url("../images/dashboard/caret-light.png");
                }
            }
            p {
                margin-top: 10px;
            }
        }
    }
    &#dashboard-phone-numbers {
        .phone-number {
            display: inline-block;
            float: right;
            padding: padding-vertical($row-height, $font-size * $line-height-base);
            .icon-settings {
                display: inline-block;
                vertical-align: middle;
                $height: 16px;
                width: $height;
                height: $height;
                margin-left: $height / 2;
                background-image: url("../images/dashboard/settings.png");
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &.panel-side {
        .panel-heading {
            text-align: center;
            border-bottom: 1px solid $border-clr-table;
        }
    }
    &.panel-ringio {
        .option {
            margin-top: $margin / 2;
            margin-bottom: 0;
            $font-size: $font-size-12;
            font-size: $font-size;
            &:last-child {
                margin-bottom: $margin / 2;
            }
            label {
                margin: 0;
                display: inline-block;
                padding: padding-vertical($row-height, $font-size * $line-height-base);
            }
        }
        .panel-heading {
            background-color: $bg-clr-table-dark;
            color: white;
            text-align: left;
        }
        .thumbnail {
            margin-top: $margin / 2;
            margin-bottom: $margin / 2;
            padding: $margin / 2;
            &:last-child {
                margin-top: 0;
            }
            .logo img {
                height: 40px;
                width: auto;
            }
        }
    }
    .btn-add-new-number {
        width: 100%;
        background: $table-header-bg;
        border: 1px solid $border-clor-panel-btn;
        @include box-shadow;
        padding: $font-size auto;
        font-weight: bold;
        color: $font-clr-panel-btn;
    }
    .panel-heading {
        $font-size: $font-size-panel-heading;
        font-size: $font-size;
        padding: padding-vertical($row-height, $font-size * $line-height-base) $margin / 2;
        position: relative;
        .ringio-icon {
            $height: 18px;
            @include pm_height($row-height, $height);
            margin-right: $margin / 2;
            display: inline-block;
            vertical-align: middle;
            width: $height;
            height: $height;
            &.icon-crm {
                background-image: url("../images/dashboard/crmintegrations.png");
            }
            &.icon-get-the-most {
                background-image: url("../images/dashboard/asterisk.png");
            }
            &.icon-settings {
                background-image: url("../images/dashboard/settings-yellow.png");
            }
            &.icon-monthly-fees {
                background-image: url("../images/monthly-fees.png");
            }
            &.icon-billing-details {
                background-image: url("../images/billing-details.png");
            }
            &.btn {
                position: absolute;
                display: block;
                background-size: 70%;
                right: 0;
                top: 0;
                bottom: 0;
                margin: 0;
                width: 58px;
                height: auto;
                background-color: $bg-clr-navbar-top;
                border-top-right-radius: 3px;
                &.icon-departments {
                    background-image: url("../images/dashboard/departments.png");
                }
                &.icon-phone {
                    background-image: url("../images/dashboard/phone.png");
                }
                &.icon-users {
                    background-image: url("../images/dashboard/users.png");
                }
                &.btn-text {
                    $font-size: $font-size-12;
                    font-size: $font-size;
                    @include pm_font($row-height, $font-size);
                    width: auto;
                }
            }
        }
    }
    .panel-body {
        margin: 0;
        padding: 0;
        &:first-child {
            border-top: 3px solid $border-clr-table;
        }
        &:not(:last-child) {
            border-bottom: 1px solid rgb(215, 230, 238);
        }
        &.white-bg {
            background-color: white;
        }
        table {
            border: none;
            padding: 0;
        }
        table td {
            padding: 10px 5px;
        }
        .table-text {
            padding-right: 15px;
            p {
                margin: 0;
            }
            a {
                font-weight: bold;
            }
        }
        li {
            padding: $margin / 2;
            border-bottom: 1px solid $border-clr-table;
            background-color: white;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            &.btn:hover {
                background-color: $table-header-bg;
                box-shadow: 0 -3px 3px $border-clr-table inset;
                cursor: pointer;
            }
            .dropdown {
                width: auto;
                display: inline-block;
                float: right;
                vertical-align: middle;
                margin-top: -7px;
                .btn {
                    border: 1px solid $border-clr-table;
                    @include box-shadow;
                }
                .icon-toggle {
                    margin-left: $margin / 2;
                }
            }
            .ringio-icon:not(.icon-toggle) {
                $height: 18px;
                width: $height;
                height: $height;
                margin-right: $height / 2;
                display: inline-block;
                vertical-align: middle;
                &.icon-call-recording {
                    background-image: url("../images/dashboard/call-recording.png");
                }
                &.icon-screen-pop {
                    background-image: url("../images/dashboard/screen-pop.png");
                }
                &.icon-call-whisper {
                    background-image: url("../images/dashboard/call-whisper.png");
                }
                &.icon-email-notifications {
                    background-image: url("../images/dashboard/email-notifications.png");
                }
                &.icon-back-up-number {
                    background-image: url("../images/dashboard/back-up-number.png");
                }
                &.icon-status {
                    float: right;
                    &[color="green"] {
                        background-image: url("../images/dashboard/status-green.png");
                    }
                    &[color="red"] {
                        background-image: url("../images/dashboard/status-red.png");
                    }
                }
            }
        }
    }
}