@import "variables";

.table {
    border-collapse: separate;
    border: 1px solid $border-clr-table;
    padding: 0;
    label {
        font-size: $table-label-font-size;
        color: $body-default-text-color;
        display: block;
    }
    input {
        display: inline-block;
        width: 100%;
        &[type="checkbox"] {
            width: 12px;
        }
    }
    thead tr {
        background-color: $bg-clr-table-light;
        font-weight: 700;
        font-size: $font-size-medium;
        color: $body-default-header-color;
        th{
            padding: 13px 7px;
        }
    }
    tbody tr {
        font-size: $font-size-small;
        td {
            padding: 13px 7px;
            .icon {
                width: $margin;
                height: $margin;
                border-radius: 4px;
                background-color: rgb(205, 218, 227);
                vertical-align: middle;
                margin-right: $margin / 2;
                margin-top: -$margin / 2;
                margin-bottom: -$margin / 2;
            }
        }
    }
    th, td {
        border-bottom: none;
        border-left: 1px solid rgb(215, 230, 238);
        vertical-align: middle;
        &:first-child {
            border-left: none;
        }
    }
}

/****************************   Accordion   ******************************/

td.hiddenRow {
    padding: 0 !important;
    border: none !important;
    .accordion-body {
        position: relative;
        box-shadow: inset 0px 2px 0px 0px rgb(219, 235, 243);
        &.collapse.in {

        }
    }
}

tr.accordion-toggle {
    position: relative;
    &:hover {
        cursor: pointer;
        td {
            color: $body-default-header-color;
            font-weight: bold;
        }
    }
    .edit-options {
        display: none;
        z-index: 1;
    }
    &[aria-expanded="true"] {
        background-color: $bg-clr-table-dark;
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 2);
        box-shadow: inset 0px 0px 3px 3px rgb(30, 131, 187);
        border: 1px solid rgb(0, 80, 127);
        > th, > td {
            border: none !important;
        }
        :not(.stay-visible) {
            opacity: 0;
        }
        td {
            &:not(:first-child), &:not(:last-child) {
                border: none;
            }
        }
        .edit-options {
            position: absolute;
            display: block;
            color: white;
            right: $margin / 2;
            .btn {
                margin-top: -5px;
            }
        }
    }
}

/****************************   CRM Edit Tables   ******************************/

.crm-edit {

    $panel-height: 46px;

    margin-bottom: $margin;
    > .option {
        margin-bottom: $margin;
        padding: 13px;
        .row > div{
            height: $panel-height;
        }
    }
    .logo {
        height: $panel-height;
        img {
            width: auto;
            height: 100%;
        }
    }

    .btn-revoke-access{
        width: 100%;
        text-align: center;
    }

    .one-row-table {
        thead {
            th {
                background-color: $bg-clr-navbar-top;
                color: white;
            }
        }
        tbody {
            background-color: $bg-clr-outer-body;
            tr {
                td {
                    border: none;
                    padding: $margin / 2;
                    padding-bottom: 0;
                }
                &:last-child td{
                    padding-bottom: $margin/2;
                }
            }
        }
        .option {
            vertical-align: middle;
            padding: $margin/2 0;
            input, .btn-dropdown {
                margin: 0;
                width: 100%;
            }
        }
        .panel-heading{
            text-align: left;
            padding: 7px 7px;
            font-size: $font-size-medium;
            .icon-key{
                display: inline-block;
                background-image: url("../images/key.png");
                width: 18px;
                height: 18px;
                margin-top: -6px;
                margin-bottom: -6px;
                margin-right: 8px;
            }
        }
    }
}


.data-container {
    background-color: rgb(243, 248, 251);
    border-top: 2px solid $box-shadow-clr-table-option;
    border-bottom: 3px solid $box-shadow-clr-table-option;
    h1 {
        font-size: $font-size-large;
        text-transform: uppercase;
    }
    > .col-md-12 > .row {
        margin: $margin / 2 0;
    }
    .option {
        padding: 5px;
        line-height: 20px;
        input, label {
            width: auto !important;
        }
    }
    [data-label="personal-ringio-number"] {
        margin: 0 100px;
        border-bottom: 1px solid rgb(215, 230, 238);
        padding: 15px 0;
        text-align: center;
        color: rgb(0, 96, 157);
        label {
            color: rgb(0, 96, 157);
        }
        [data-type="phone-number"] {
            font-size: 20px;
        }
    }
    [data-label="data-rows"] [class^="col-md"]:not(:last-child), .row[data-label="data-rows"] *[class^="col-md"]:not(:last-child) {
        padding-right: 0;
    }

    .option {
        input, label {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            padding: 0;
            margin: 0;
        }
        input {
            margin-right: $margin / 3;
            margin-left: $margin / 3;
        }
        label {
            border-left: 1px solid $border-clr-table;
            padding-left: $margin / 3;
        }
        &:not(:last-child) {
            margin-bottom: $margin / 2;
        }
        .dropdown {
            .btn-dropdown {
                text-align: left;
                border-radius: 3px;
            }
            .dropdown-menu {
                width: 100%;
            }
        }
    }
}

.option{
    background-color: white;
    border-radius: 3px;
    border: 1px solid $border-clr-table;
}

.table, .data-container > .data-container {
    // margin-bottom: 15px;
    border-bottom: 1px solid $border-clr-table;
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    input, .btn-dropdown {
        border-radius: 3px;
        width: 100%;
        font-size: 10px;
        border: none;
        padding: 8px 10px;
        border: 1px solid rgb(215, 230, 238);
        &:not(:last-child) {
            margin-bottom: $margin / 2;
        }
    }
    input::-webkit-input-placeholder {
        color: rgb(0, 96, 157);
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: rgb(0, 96, 157);
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgb(0, 96, 157);
    }
    input:-ms-input-placeholder {
        color: rgb(0, 96, 157);
    }
}